openapi: 3.1.0
info:
  title: Farcaster Snapchain Hub HTTP Casts Info API
  description: HTTP query interface for Farcaster's Snapchain network. Read casts, reactions, follows, user data, verifications and on-chain events by FID; submit signed protobuf messages; and stream hub events. The public reference endpoint is hosted at https://snapchain.farcaster.xyz, but operators typically run their own Snapchain node and bind the HTTP server to a local port (default 3381).
  version: 1.0.0
  contact:
    name: Farcaster
    url: https://snapchain.farcaster.xyz/
  license:
    name: MIT
servers:
- url: https://snapchain.farcaster.xyz
  description: Public Snapchain reference endpoint
- url: http://127.0.0.1:3381
  description: Default local Snapchain HTTP server
tags:
- name: Info
paths:
  /v1/info:
    get:
      tags:
      - Info
      summary: Get hub info
      parameters:
      - in: query
        name: dbstats
        schema:
          type: boolean
      responses:
        '200':
          description: Hub info
  /v1/fids:
    get:
      tags:
      - Info
      summary: List FIDs known by the hub
      parameters:
      - in: query
        name: shard_id
        schema:
          type: integer
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/Reverse'
      responses:
        '200':
          description: Page of FIDs
components:
  parameters:
    Reverse:
      in: query
      name: reverse
      schema:
        type: boolean
    PageSize:
      in: query
      name: pageSize
      schema:
        type: integer
    PageToken:
      in: query
      name: pageToken
      schema:
        type: string
