openapi: 3.2.0
info:
  title: Farcaster Snapchain Hub HTTP On Chain API
  description: HTTP query interface for Farcaster's Snapchain network. Read casts, reactions, follows, user data, verifications and on-chain events by FID; submit signed protobuf messages; and stream hub events. The public reference endpoint is hosted at https://snapchain.farcaster.xyz, but operators typically run their own Snapchain node and bind the HTTP server to a local port (default 3381).
  version: 1.0.0
  contact:
    name: Farcaster
    url: https://snapchain.farcaster.xyz/
  license:
    name: MIT
servers:
- url: https://snapchain.farcaster.xyz
  description: Public Snapchain reference endpoint
- url: http://127.0.0.1:3381
  description: Default local Snapchain HTTP server
tags:
- name: On Chain
paths:
  /v1/onChainSignersByFid:
    get:
      tags:
      - On Chain
      summary: List on-chain signers for a FID
      parameters:
      - $ref: '#/components/parameters/Fid'
      - in: query
        name: signer
        schema:
          type: string
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/Reverse'
      responses:
        '200':
          description: Page of signers
      operationId: getV1OnChainSignersByFid
      x-operation-id-source: derived
  /v1/onChainEventsByFid:
    get:
      tags:
      - On Chain
      summary: List on-chain events for a FID
      parameters:
      - $ref: '#/components/parameters/Fid'
      - in: query
        name: event_type
        schema:
          type: string
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/Reverse'
      responses:
        '200':
          description: Page of on-chain events
      operationId: getV1OnChainEventsByFid
      x-operation-id-source: derived
  /v1/onChainIdRegistryEventByAddress:
    get:
      tags:
      - On Chain
      summary: Lookup the IdRegistry event for a wallet address
      parameters:
      - in: query
        name: address
        required: true
        schema:
          type: string
      responses:
        '200':
          description: IdRegistry event
      operationId: getV1OnChainIdRegistryEventByAddress
      x-operation-id-source: derived
  /v1/fidAddressType:
    get:
      tags:
      - On Chain
      summary: Get the address type for a FID
      parameters:
      - $ref: '#/components/parameters/Fid'
      - in: query
        name: address
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Address type
      operationId: getV1FidAddressType
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      in: query
      name: pageSize
      schema:
        type: integer
    Reverse:
      in: query
      name: reverse
      schema:
        type: boolean
    PageToken:
      in: query
      name: pageToken
      schema:
        type: string
    Fid:
      in: query
      name: fid
      required: true
      schema:
        type: integer
      description: Farcaster ID
